<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon" />
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <div id="contents">
        <ul id="menuList">
            <li v-for="item in items" class="commonLi">
                <!-- <img class="arrowImg" src="https://blog-to-use.oss-cn-beijing.aliyuncs.com/202102/arrow.gif"></img> -->
                <img class="commonImg" src="https://blog-to-use.oss-cn-beijing.aliyuncs.com/202102/folder.gif"></img>
                <a id="commonLink" href="javascript:;" onclick="clickFolder(this)">{{ item.message }}</a>
                
                <ul class="menu" style="display: none;">
                    <li v-for="folder in item.folders" style="list-style: none;">
                        <div v-if="folder.type === 'folder'">
                            <!-- <img class="arrowImg" src="https://blog-to-use.oss-cn-beijing.aliyuncs.com/202102/arrow.gif"></img> -->
                            <img class="commonImg" src="https://blog-to-use.oss-cn-beijing.aliyuncs.com/202102/folder.gif"></img>
                            <a id="commonLink" href="javascript:;" onclick="clickFolder(this)">{{ folder.message }}</a>

                            <ul class="menu" style="display: none;">
                                <li v-for="subFolder in folder.folders" style="list-style: none;">
                                        <img src="https://blog-to-use.oss-cn-beijing.aliyuncs.com/202102/ie_logo.gif" alt="">
                                        <a id="commonLink" style="font-size: 12px;" :href="subFolder.url"
                                            target="_blank">{{ subFolder.message }}</a>
                                </li>
                            </ul>
                        </div>
                        <div v-else>
                            <img src="https://blog-to-use.oss-cn-beijing.aliyuncs.com/202102/ie_logo.gif" alt="">
                            <a id="commonLink" style="font-size: 12px;" :href="folder.url"
                                target="_blank">{{ folder.message }}</a>
                        </div>

                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="js/index.js"></script>
</body>

</html>